.wurm.sheet.actor {
  min-width: 600px;
  min-height: 600px;
}
.wurm .sheet-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.wurm .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.wurm .header-fields {
  flex: 1;
}
.wurm .charname {
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}
.wurm .charname input {
  width: 100%;
  border: none;
  background: transparent;
}
.wurm .resource {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.wurm .resource label {
  flex: 0 0 100px;
  font-weight: bold;
}
.wurm .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  padding-right: 10px;
}
.wurm .item-header {
  border-bottom: 2px solid #000;
  margin-bottom: 5px;
  align-items: center;
}
.wurm .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #CCC;
  padding: 2px 0;
}
.wurm .item-name {
  flex: 1;
  margin: 0;
}
.wurm .item-controls {
  flex: 0 0 50px;
  display: flex;
  justify-content: space-between;
}
.wurm .rollable:hover, .wurm .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.wurm .action-button {
  margin-top: 10px;
  padding: 5px;
  background: #eee;
  border: 1px solid #000;
  border-radius: 5px;
}
